@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
	margin: Opx;
}
h1, h2, h3 {
	font-family: 'Caveat', cursive;
	font-weight: bold;
}
a {
	text-decoration: none;
}